@import '/assets/css/_code';

.home-contents {
  height: 100%;
}

.temp-logo {
  width: 150px;
  margin-left: 50px;
}

.temp-main-pr {
  width: calc(100% - 60px);
  height: 100%;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu-icon {
  width: 25px;
}

.index-contents {
  padding: 17px 11px;
  height: 100%;
}

.index-contents:after {
  clear: both;
  display: block;
  content: "";
}

.index-contents__btn {
  float: left;
  width: calc(50% - 45px);
  height: 162.5px;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;
}

.index-contents__btn:nth-child(1) {
  background: url( ../images/main_github_normal.png ) no-repeat center/100% 100%;
}
.index-contents__btn:nth-child(2) {
  background: url( ../images/main_jira_normal.png ) no-repeat center/100% 100%;
}
.index-contents__btn:nth-child(3) {
  background: url( ../images/main_c_normal.png ) no-repeat center/100% 100%;
}
.index-contents__btn:nth-child(4) {
  background: url( ../images/main_portal_normal.png ) no-repeat center/100% 100%;
}

.index-contents__btn img {
  display: block;
  width: 85px;
  height: 85px;
  margin: 35% auto 26px;
}

.index-contents__btn span {
  display: block;
  font-family: 'SamsungOne800', sans-serif;
  font-size: 18px;
  color: #fff;
  margin-top: 105px;
}