@import '/assets/css/_code.css';

body {
	height:100vh;
}

.App {
	text-align: center;
	position:relative;
}

.App-header {
	display: flex;
	background-color: #f6f6f6;
	padding:10px 16px;
	align-items: center;
	justify-content: space-between;
	height:60px;
}

.App-header .logo,
.App-header__logo {
	width:140px;
}

.App-header .icon-area {
	width:24px;
	height:24px;
}

.contents-wrapper {
	height:calc(100% - 60px);
}

.btn img {width:100%;}

.btn.gnb {
	width:24px;
	height:24px;
}
